* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  font-family: 'Poppins', 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #e7ebec;
}
.menu-lateral {
  font-size: 24px;
  height: 100%;
  display: flex;
  position: fixed;
  background: #fff;
  box-shadow: 10px 0 0 #f05f40;
  flex-direction: column;
  /* overflow-block: hidden; */
}
.menu-lateral-oculto {
  width: 60px;
}

.logo-plataform {
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  width: auto;
  height: auto;
  /* object-fit: ; */
  padding: 20px 5px 30px 10px;
  position: relative;
}

.btn-menu {
  color: #888888;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: left;
  justify-items: center;
  padding-left: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

.img-menu {
  color: #f05f40;
  height: 30px;
  padding-right: 10px;
  /* align-items: center; */
}

nav ul li {
  list-style: none;
  display: flex;
  padding: 5px 20px 5px 20px;
  vertical-align: middle;
  /* justify-items: center; */
  /* text-align: center; */
}
nav ul li:hover {
  background-color: #f05f40;
}

nav ul li a {
  /* display: flex; */
  text-transform: none;
  color: #000;
  font-size: 15px;
  align-items: center;
  justify-content: left;
  /* justify-items: center; */
}
.nav-bar-icon {
  /* padding: 10px 5px 10px 0px; */
  font-size: 18px;
  padding-right: 10px;
  align-items: center;
}

.oculto {
  display: none;
}
